# Default Webhooks
from webhooks.discord import WebhookDiscord

ADMIN_LOG_FILE = "<server-path>\profiles\DayZServer_x64.ADM"  # CHANGE ME

# Webhooks (eg. Killfeeds or Live Feeds of your server)
WEBHOOKS = {
    "discord_admin": [
        WebhookDiscord(
            "<change-me>"
        )
    ],
    "discord_public": [
        WebhookDiscord(
            "<change-me>"
        )
    ],
    "discord_expansion_airdrops": [
        WebhookDiscord(
            "<change-me>"
        )
    ],
}


class Settings:
    def __init__(self, filepath: str = ADMIN_LOG_FILE, interval: int = 5) -> None:
        self.filepath = filepath
        self.interval = interval
        self.webhooks = WEBHOOKS
